body {
    font-family: 'Arial', sans-serif;
    background-image: url(ChatGPT\ Image\ 24\ de\ fev.\ de\ 2026\,\ 16_33_55.png);
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed; 
    color: #333;
    line-height: 1.6;
}

header {
    background-color: rgba(190, 116, 6, 0.8); 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.cart {
    font-size: 16px;
}

.products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product {
   background-color: rgba(49, 49, 49, 0.604); 
    background-size: cover;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h3 {
    margin: 15px 0 10px;
    color: rgb(207, 207, 207);
}


.product button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #2ecc71;
}
